body,
html {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    /* background-image: linear-gradient(145.6deg, rgb(251, 229, 215) 11.2%, rgb(242, 242, 242) 42%, rgba(249, 249, 249, 0.643) 71.5%, rgb(190, 219, 251) 100.2%); */
    font-size: 16px;
}

.wrapper {
    min-height: calc(100vh);
    /* Adjust based on footer height */
    display: flex;
    flex-direction: column;
}


nav {
    background-color: rgb(0, 0, 0);
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    /* justify-content: end; */
    align-items: center;
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    box-shadow: 0px 0px 5px;
}


.logoDiv>a>img {
    width: 125px;
}

.linksDiv>a {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-weight: 700;
    transition: .25s;
}

.linksDiv>a:hover {
    color: rgb(72, 142, 255);
}

.container {
    /* display: flex; */
    /* flex-direction: column; */
    flex: 1;
}

h1 {
    text-align: center;
    text-shadow: 0px 0px 20px rgba(15, 36, 170, 0.539);
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

h2 {
    text-align: center;
    margin: 3px;
    color: #04a7aa;
}

h3 {
    /* font-size: 13px; */
    text-align: center;
    color: rgb(69, 132, 214);
}

p {
    margin: 0px 10%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0px;
}

.bigImage {
    width: 100%;
    box-shadow: none;
    margin: 0;
    height: auto;
}


img {
    width: 250px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.527);
    /* max-width: 100%; */
    height: auto;
    margin: 10px 0px;
}

/* table data */

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: rgb(36, 42, 90);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.242);
    color: rgb(233, 233, 237)
}

td {
    padding: 10px 30px;
}

td:nth-child(3) {
    width: 200px;
    word-wrap: break-word;
}

th {
    text-align: start;
    padding: 10px 30px;
}

tbody tr:nth-child(odd) {
    background-color: #0400ff30;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
}

tbody tr:nth-child(even) {
    background-color: #00000017;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
}

footer {
    text-align: center;
    background-color: rgb(36, 42, 90);
    color: rgb(155, 155, 197);
    padding: 5px 0px;
    margin-top: 20px;
}

/* form styling */

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.113);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}

form>label {
    padding: 7px 0px;
}

form>input {
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
}


input:focus {
    outline: none;
}


input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}