body,
html {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    /* background-image: linear-gradient(145.6deg, rgb(251, 229, 215) 11.2%, rgb(242, 242, 242) 42%, rgba(249, 249, 249, 0.643) 71.5%, rgb(190, 219, 251) 100.2%); */
}

nav {
    background-color: rgb(36, 42, 90);
    padding: 10px 40px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px;
}

nav>a {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(155, 155, 197);
    font-weight: 700;
    transition: .25s;
}

nav>a:hover {
    color: azure;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-shadow: 0px 0px 20px rgba(15, 36, 170, 0.539);
}

h2 {
    text-align: center;
}

h3 {
    font-size: 13px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px 30px;
}

td:nth-child(3) {
    width: 200px;
    word-wrap: break-word;
}

th {
    text-align: start;
    padding: 10px 30px;
}

tbody tr:nth-child(odd) {
    background-color: #0400ff30;
}